/* Add your CSS here to style your valentines day page */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffc2d1;
    grid-column: 1/3;
}
ul li {
  float: left;
  display: block;
  color: #590d22;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 1.5em;
}
ul li:hover {
    background-color: #ff8fab;
    color: white;
}
section {
    text-align: center;
}
img {
    width: 100%;
    height: auto;
    filter: opacity(75%);
    margin-bottom: -300px;
    margin-top: -80px;
    position: relative;
    z-index: -1;
}
body {
    background-color: #ffe5ec;
}
#grid {
    display: grid;
    grid-template-columns: 10px 1fr 30px 1fr 30px 1fr 10px;
}
.love {
    border-radius: 20px;
    padding: 1px;
    margin: 0 auto;
    background-color: #ffe5ec;
    grid-column: 2;
    color: #590d22;
}
.hearts {
    border-radius: 20px;
    padding: 1px;
    margin: 0 auto;
    background-color: #ffe5ec;
    grid-column: 4;
    color: #590d22;
}
.cupid {
    border-radius: 20px;
    padding: 1px;
    margin: 0 auto;
    background-color: #ffe5ec;
    grid-column: 6;
    color: #590d22;
}
footer {
    padding: 25px 50px;
    margin-top: 100px;
    background-color: #ffc2d1;
    font-size: 1.5em;
    color: #590d22;
}
h1 {
    text-align: center;
    font-family: Sarina;
    font-size: 4em;
    margin-bottom: -50px;
    color: #590d22;
}